pipeline/pipeline_joselab.json
{
	"name": "pipeline_joselab",
	"properties": {
		"activities": [
			{
				"name": "LK_tablas_sqlserver",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * \nFROM sqldb_demo.INFORMATION_SCHEMA.TABLES\nWHERE table_type='BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver_joselab",
						"type": "DatasetReference",
						"parameters": {
							"table_schema": "None",
							"table_name": "None"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_tablas_SqlServer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_tablas_sqlserver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_tablas_sqlserver').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_Tablas_DL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqlserver_joselab",
									"type": "DatasetReference",
									"parameters": {
										"table_schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsdlmorales",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().table_schema,'_',item().table_name,\nformatDateTime(convertFromUtc(utcnow(),\n'SA Pacific Standard Time'),'yyyyMMdd'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "DemoDatalytics"
		},
		"annotations": []
	}
}